main{
    width: 1000px;
    height: 600px;
    background-color: lightsalmon;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
}
button#new-game{
    align-self: center;
    margin-left: 350px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    font-style: italic;
    font-size: larger;
    border-color: transparent;
}
 button#new-game:hover{
     color: white;
     background-color: orange;
     border-width: 1px;
     border-color: white;
 }

 section.section{
     float: left;
     width: 40%;
     margin-top: 50px;
     text-align: center;
 }

.total-score{
    margin-top: 20px;
    margin-bottom: 20px;
}
p.score{
    font-size: xx-large;
    color: white;
    font-style: oblique;
}

.current-score{
    width: 150px;
    height: 150px;
    background-color: orange;
    color: white;
    font-weight: 600;
    font-size: x-large;
    margin-left: 140px;
    margin-bottom: 40px;
}

.role-dice, .hold{
    font-size: larger;
    color: orange;
    background-color: white;
    padding: 10px 20px 10px 20px;
    font-style: oblique;
    margin: 20px;
    border-radius: 20px;
    border-color: transparent;

}
.role-dice:hover, .hold:hover{
    font-size: larger;
    color: white;
    background-color: orange;
    padding: 10px 20px 10px 20px;
    font-style: oblique;
    margin: 20px;
    border-radius: 20px;
}